[submodule "mcmonkeyDiscordBotBase"]
	path = mcmonkeyDiscordBotBase
	url = https://github.com/mcmonkeyprojects/mcmonkeyDiscordBotBase
[submodule "SharpDenizenTools"]
	path = SharpDenizenTools
	url = https://github.com/DenizenScript/SharpDenizenTools
